<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helping_Hands</title>
    <style>
        .a{
        text-decoration:none;
        color:29333B;
        }
    </style>
</head>
<body bgcolor="FBF6E8" >
<div style="background-color:rgb(199, 194, 180);"><img style="float:left;padding-left:450px;" src="{% static 'images/hand.png' %}" alt="Helping_Hands" width="50px" height="60px">
    <h1><font color="E94A49" face="Times New Roman" size="30px">Helping<font color="0C0D0E">_</font><font color="7E8890">Hands</font></font></h1><hr></div>
</body>
</html>
</body>
</html>