<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 align="center">
  <a style="text-decoration:none;" href="#">Home</a>&emsp14;&emsp14;&emsp14;&emsp14;
  <a style="text-decoration:none;" href="{% url 'register' %}">Register</a>&emsp14;&emsp14;&emsp14;&emsp14;
  <a style="text-decoration:none;" href="{% url 'login' %}">Login</a>&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
    <a style="text-decoration:none;" href="{% url 'search' %}">Search</a>&emsp14;&emsp14;
</h4><hr>
</body>
</html>
</body>
</html>